
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #6c9a8b;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    background-color: white;
    margin: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ddd;
}

.main-image {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 30px auto;
    border-radius: 12px;
}